menuconfig SWITCH
	tristate "Switch class support"
	help
	  Say Y here to enable switch class support. This allows
	  monitoring switches by userspace via sysfs and uevent.

if SWITCH

config SWITCH_GPIO
	tristate "GPIO Swith support"
	depends on GPIOLIB
	help
	  Say Y here to enable GPIO based switch support.

config SWITCH_SKY
	tristate "SKY SWITCH DRIVER"
	depends on GPIOLIB
	default y
	help
	  Say Y here if you have a SKY_SWITCH o enable
	  support for the built-in SKY_SWITCH.

endif # SWITCH
